Repository google/blockly, pull requests merged in 2022-01, with the labels that each got.

#5848 chore(release): add release-please config
  .github/workflows/release-please.yml
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Labels: PR: chore, PR: release

#5695 fix: Don't throw if drag surface is empty.
  core/block_drag_surface.js
Labels: cla: yes, PR: fix

#5879 chore(deps): Update `follow-redirects` to address CVE-2022-0155
  package-lock.json
Labels: PR: dependencies

#5880 chore(deps) Update `follow-redirects` to 1.14.7 to address CVE-2022-0155 (in `master`)
  package-lock.json
Labels: PR: dependencies

#5685 fix(generators): Fixed an operator precedence issue in the math_number_property generators to remove extra parentheses
  generators/dart/math.js
  generators/javascript/math.js
  generators/lua/math.js
  generators/php/math.js
  generators/python/math.js
  tests/generators/golden/generated.dart
  tests/generators/golden/generated.js
  tests/generators/golden/generated.lua
  tests/generators/golden/generated.php
  tests/generators/golden/generated.py
  tests/generators/math.xml
Labels: cla: yes

#5902 chore: Use ES6 template strings in CSS and code generators
  core/comment.js
  core/css.js
  core/field_angle.js
  core/field_colour.js
  core/field_multilineinput.js
  core/flyout_button.js
  core/generator.js
  core/toolbox/category.js
  core/toolbox/separator.js
  core/toolbox/toolbox.js
  core/workspace_comment_svg.js
  core/zoom_controls.js
  generators/dart/colour.js
  generators/dart/lists.js
  generators/dart/math.js
  generators/dart/text.js
  generators/javascript/colour.js
  generators/javascript/lists.js
  generators/javascript/math.js
  generators/javascript/text.js
  generators/lua/colour.js
  generators/lua/lists.js
  generators/lua/logic.js
  generators/lua/math.js
  generators/lua/text.js
  generators/php/colour.js
  generators/php/lists.js
  generators/php/math.js
  generators/php/text.js
  generators/python/colour.js
  generators/python/lists.js
  generators/python/loops.js
  generators/python/math.js
  generators/python/text.js
  tests/generators/golden/generated.dart
  tests/generators/golden/generated.js
  tests/generators/golden/generated.lua
  tests/generators/golden/generated.php
  tests/generators/golden/generated.py
Labels: component: generators

#5900 fix!: Export loopTypes from Blockly.blocks.loops
  blocks/all.js
  blocks/loops.js
  scripts/gulpfiles/build_tasks.js
  tests/deps.js
Labels: component: library blocks, breaking change, PR: fix

#5908 feature(blocks): Export block definitions
  blocks/all.js
  blocks/colour.js
  blocks/lists.js
  blocks/logic.js
  blocks/loops.js
  blocks/math.js
  blocks/procedures.js
  blocks/text.js
  blocks/variables.js
  blocks/variables_dynamic.js
  core/block.js
  core/blocks.js
  core/common.js
  scripts/gulpfiles/build_tasks.js
  scripts/gulpfiles/chunks.json
  tests/deps.js
Labels: component: library blocks, breaking change, PR: feature
